@font-face {
  font-family: Proxima Nova;
  src: url(./proximanova/proximanova-regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: Proxima Nova;
  src: url(./proximanova/proximanova-bold.otf);
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8544fb;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #12121a;
  font-family: Proxima Nova;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

header {
  max-width: 1440px;
  width: calc(100% - 280px);
  margin: 50px auto 0;
  display: flex;
}

.white-text {
  color: white;
}

.header__greeting {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
  color: #8544fb;
}

.header__selfie-wrapper {
  position: relative;
}

.header__circle {
  position: absolute;
  box-shadow: 4px 1px 20px rgba(255, 255, 255, 0.25);
  margin-top: 67px;
  background-color: #8544fb;
  border-radius: 50%;
  width: 351px;
  height: 354.98px;
}

.header__selfie {
  /* border: 1px solid red; */
  position: absolute;
  top: -66.5px;
  left: -17px;
  width: auto;
  height: 528px;
  transform: rotate(-0.7deg);
}

.header__aboutMe {
  margin-top: 442px;
}

.header__aboutText {
  max-width: 560px;
  margin-top: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 120%;
}

.header__aboutText2 {
  margin-top: 10px;
}

.header__name {
  margin-top: 214px;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 85px;
  color: #8544fb;
}

.header__subname {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
}

.header__connect-list {
  display: flex;
  list-style: none;
  margin-top: 15px;
}

.header__connect-icon {
  width: 40px;
  height: 40px;
}

.header__connect {
  margin-left: 24px;
}

.header__connect:first-of-type {
  margin-left: 0;
}

main {
  margin: 140px auto 0;
  max-width: 1440px;
}

.education__title {
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  color: #8544fb;
}

.education__subtitle-wrapper {
  margin-top: -20px;
  flex-direction: row;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.education__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #a8e10c;
  margin-left: 5px;
}

.education__chronology {
  display: flex;
  margin: 32px auto 0;
  justify-content: center;
  align-items: center;
}

.education__school {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}

.education__city {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.education__info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: #ffffff;
  opacity: 0.8;
}

.education__about-period {
  margin-right: 40px;
}

.education__line {
  margin: 0 79px;
}

.education__year {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.1em;
  color: #a8e10c;
}

.education__2018 {
  display: flex;
  max-width: 575px;
  align-items: center;
}

.align-center {
  align-self: center;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.education__1521 {
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.education__about-period-right {
  margin-left: 40px;
}
.education__red {
  margin-top: 200px;
}
.education__red-diploma {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 100px;
  justify-content: center;
}

.education__red-text {
  margin-top: 38px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}

.awards {
  margin-top: 100px;
}

.awards__grid-certificate {
  display: flex;
  max-width: calc(100% - 280px);
  margin: 75px auto 140px;
  align-items: center;
  justify-content: space-between;
}

.awards__grid {
  display: grid;
  grid-template-columns: repeat(2, 297px);
  grid-template-rows: auto;
  gap: 30px 56px;
}

.awards__grid-element {
  border-left: 2px solid #8544fb;
  background-color: #333333;
  height: 98px;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.awards__grid-title-flag {
  display: flex;
  margin-left: 30px;
  margin-top: 7px;
  align-items: flex-start;
  justify-content: space-between;
}

.awards__flag {
  margin-right: 10px;
}

.awards__year {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #8544fb;
}

.awards__result {
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  padding-left: 10px;
  margin-left: 10px;
}

.awards__grid-year-result {
  display: flex;
  margin-left: 30px;
  margin-bottom: 10px;
  align-items: center;
}
.awards__hungary-certificate {
  width: 303px;
  height: 428px;
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.35));
}

.awards__certificate {
  display: flex;
  align-items: center;
}

.work {
  margin-bottom: 140px;
}

.work__grid {
  padding-top: 33px;
  border-top: 2px solid #8544fb;
  margin: 70px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 980px;
  gap: 40px;
}

.work__card {
  background-color: #333333;
  height: 400px;
  box-shadow: 0px 4px 40px rgba(88, 88, 88, 0.4);
  border-radius: 10px;
  padding: 18px 28px 0;
}

.work__title-date {
  height: 109px;
  border-bottom: 2px solid #8544fb;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work__title {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 120%;
  color: #ffffff;
}

.work__date {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #a8e10c;
}

.work__list {
  padding-top: 15px;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.8);
}

.gallery {
  max-width: calc(100% - 280px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.gallery__grid {
  margin: 0 auto 200px;
  display: grid;
  grid-template-columns: min-content max-content;
  margin-top: 85px;
  align-items: center;
  gap: 40px;
}

.gallery__heading {
  font-weight: bold;
  font-size: 27px;
  line-height: 120%;
  color: #ffffff;
}

.gallery__text {
  margin-top: 20px;
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  max-width: 450px;
}

.gallery__alba {
  display: grid;
  max-width: 900px;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.gallery__side-text1 {
  font-weight: 600;
  font-size: 35px;
  line-height: 120%;
  color: #a8e10c;
  transform: rotate(-90deg);
  position: absolute;
  top: 400px;
  left: -150px;
}

.alba__card {
  position: relative;
  filter: drop-shadow(7px 7px 15px rgba(255, 255, 255, 0.07));
}

.alba__img {
  width: 100%;
  border-radius: 10px;
}

.alba__logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.gallery__side-text2 {
  font-weight: 600;
  font-size: 35px;
  line-height: 120%;
  color: #a8e10c;
  transform: rotate(-90deg);
  position: absolute;
  top: 1090px;
  left: -175px;
}

.gallery__side-text3 {
  font-weight: 600;
  font-size: 35px;
  line-height: 120%;
  color: #a8e10c;
  transform: rotate(-90deg);
  position: absolute;
  top: 1730px;
  left: -150px;
}

.alba__insta {
  width: 20px;
  height: 20px;
}

.alba__insta-link {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #a8e10c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 10px;
  right: 58px;
}

.alba__site-link {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #a8e10c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 10px;
  right: 10px;
}

a:hover {
  opacity: 0.6;
}

footer {
  max-width: 1440px;
  width: calc(100% - 280px);
  margin: 100px auto 60px;
}

.footer__author {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer__author:hover {
  opacity: 0.4;
}

.gallery__wro {
  margin-top: 160px;
  display: flex;
}

.wro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
  max-width: 400px;
  margin: 20px 0;
}

.gallery__rm {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: auto;
  gap: 20px;
}

.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 0.5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.2);
}

.rm__text {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin: 20px 0;
}

.card-tall {
  grid-row: span 2;
}

.project {
  max-width: 1440px;
  width: calc(100% - 280px);
  margin: 140px auto 0;
}

.alba {
  max-width: 1440px;
  width: calc(100% - 280px);
  margin: 95px auto 0;
}

.summer {
  max-width: 1440px;
  width: calc(100% - 280px);
  margin: 140px auto 0;
}

.skills {
  max-width: 1440px;
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__flex {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project__text-btn {
  max-width: 560px;
}

.project__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 20px;
}

.project__download {
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
}

.like-a-slide {
  position: relative;
  margin-top: 105px;
  height: 370px;
}
.alba__slide {
  position: absolute;
}

.summer__certificates {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 20px;
  justify-content: center;
  margin-top: 60px;
}

ul {
  margin-top: 20px;
  grid-column: span 3;
}

ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  /* or 24px */

  color: #ffffff;
}

.skills__img {
  margin-top: 50px;
  max-width: 100%;
}

.interests {
  max-width: 1440px;
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-langs {
  margin-top: 65px;
  display: flex;
}

.langs {
  margin-left: 55px;
  position: relative;
  width: 100%;
}

.contacts {
  max-width: 1440px;
  width: calc(100% - 280px);
  margin: 110px auto 0;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(3, max-content);
  gap: 100px;
}

.contacts div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}
